body{
	font-family: Courier;
	text-align: left;
}

.provisioned-devices{
	width:80%;
}

.provisioned-devices tr:nth-child(odd) td {
    background-color: #fbfbfb
} /*odd*/
.provisioned-devices tr:nth-child(even) td {
    background-color: #e8ecee
} /* even*/
